body{background-color: lightseagreen;}

.worldBorder {border-width: 2px; border-color: rgba(0, 50, 255, 0.5); border-radius: 2px;}
.blockContainer {position: absolute;}
.opaque {opacity: 0.5;}

.block {position:absolute; width:14px; height: 14px; border-style: solid; border-color: rgba(0, 0, 0, 0.5);border-width: 1px; background-color: white;}

.food  {background-color: blue;}
.shead {background-color: red;}
.stail {background-color: red;}
.sbody {background-color: green;}

.reloadButtonContainer{padding: 20px;}
.reloadButton{border-radius: 50px;}

.win {font-size: 25px; margin-left: 25%; font-family: monospace; color: black;padding-top: 40px;}
.lose{font-size: 25px; margin-left: 25%; font-family: monospace; color: black;padding-top: 40px;}
.score{font-size: 30px; margin-left: 20%; padding: 40px;}

.startPage{margin-left: 27%; margin-top: 20%;}
.startIconContainer{margin-left: 35px;}
.btn{width: 150px; height: 40px;border-radius: 30px;background-color: limegreen;}
.btnContainer{padding-top: 10px;}

.hide {display: none;}
